---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
import logo from '@/images/logo.png';
import earth from '@/images/earth.png';

const allProjects = (await getCollection('projects', ({ data }) => (import.meta.env.PROD ? !data.draft : true))).sort(
  (a, b) => b.data.sortOrder - a.data.sortOrder
);
---

<script>
  const timeEl = document.querySelector('#time');

  function updateTime() {
    const now = new Date().toLocaleTimeString(navigator.language, {
      timeZone: 'America/New_York',
      hour: 'numeric',
      minute: 'numeric',
      timeZoneName: 'short',
    });
    if (timeEl && now !== timeEl.textContent) {
      timeEl.textContent = now;
    }
  }

  updateTime();
  setInterval(updateTime, 1000);
</script>

<Layout title="Ash Johns | Portfolio">
  <h1>Welcome to my <span class="text-gradient">portfolio</span></h1>
  <div class="lists-grid">
    <ul class="at-a-glance">
      <li class="role">Frontend / Fullstack Developer</li>
      <li>
        <div class="avatar">
          <Image src={logo} alt="logo" loading="eager" class="logo" />
          <div class="status"></div>
        </div>
        Open for work
      </li>
      <li class="time-li">
        <Image src={earth} alt="" class="earth" />
        <div class="time-card">
          <div id="time" class="time"></div>
          Boston, MA
        </div>
      </li>
    </ul>
    <ul class="link-card-grid">
      {
        allProjects.map((project) => (
          <Card
            href={`projects/${project.slug}`}
            title={project.data.title}
            body={project.data.description}
            image={project.data.thumbnail}
            imageLoading="eager"
          />
        ))
      }
    </ul>
  </div>
</Layout>

<style define:vars={{ earth: `url("${earth.src}")` }}>
  .lists-grid {
    display: grid;
    gap: 2rem;
  }

  .at-a-glance {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      gap: 0.5em;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.05);
      padding: 1rem 1.5rem;
      background: rgba(var(--background-subtle), 0.25);
    }

    .time-li {
      overflow: hidden;
    }

    .time {
      font-family: var(--font-mono);
      font-size: var(--fs-subtle);
      color: rgba(var(--foreground), 0.5);
    }

    .earth {
      display: block;
      width: 25%;
      height: auto;
      transform: scale(200%) translateX(-25%);
      filter: drop-shadow(0 0 3px rgba(59, 112, 211, 0.5));
    }
  }

  .icon {
    height: 1.5em;
    color: rgb(var(--accent));
  }

  @keyframes ping {
    from {
      transform: scale(100%);
      opacity: 1;
    }
    to {
      transform: scale(200%);
      opacity: 0;
    }
  }

  .avatar {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -6px;
      right: -6px;
      margin: 5px;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      background: rgb(var(--background));
    }
  }

  .logo {
    display: block;
    height: 1.5em;
    width: auto;
  }

  .status {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      right: -4px;
      margin: 5px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: rgb(0, 204, 92);
    }

    &::before {
      transform-origin: center;
      animation: ping 1s ease-out infinite;
    }

    &::after {
      background: rgb(0, 204, 92);
    }
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26ch, 1fr));
    gap: 2rem;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 640px) {
    .at-a-glance {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
      gap: 1rem 2rem;
    }

    .time-li {
      grid-column: 2;
      grid-row: 1/-1;
    }
  }

  @media (min-width: 768px) {
    .at-a-glance {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }

    .time-li {
      grid-column: auto;
      grid-row: auto;
    }
  }
</style>
