---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
interface Props {
  title: string;
  body: string;
  href: string;
  image: ImageMetadata;
  imageLoading?: 'eager' | 'lazy';
}

const { href, title, body, image, imageLoading = 'lazy' } = Astro.props;
---

<li class="link-card">
  <a href={href} class="card-link">
    <div class="card-content">
      <h2>{title}</h2>
      <p>
        {body}
      </p>
    </div>
    <Image src={image} alt="logo" class="thumbnail" loading={imageLoading} />
  </a>
</li>
<style>
  .thumbnail {
    align-self: center;
    display: block;
    min-width: 100px;
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    min-width: 10ch;
  }

  p {
    font-size: 1rem;
    margin: 0;
    margin-top: 0.25rem;
    line-height: 1.2;
    color: rgba(var(--foreground), 0.7);
  }
</style>
