---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const projectEntries = await getCollection('projects', ({ data }) => (import.meta.env.PROD ? !data.draft : true));
  return projectEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`Ash Johns | ${entry.data.title}`}>
  <div class="header">
    <h1 class="title text-gradient">{entry.data.title}</h1>
    <p class="company">{entry.data.company}</p>
    <div class="tech-stack">
      <!-- <span class="tech-stack-label">Powered by</span> -->
      <ul class="tech-list">
        {entry.data.techStack.map((tech) => <li>{tech}</li>)}
      </ul>
    </div>
    <div class="links">
      {entry.data.links.map((link) => <a href={link[1]}>See {link[0]}</a>)}
    </div>
    <Image src={entry.data.screenshot} alt="" class="screenshot" />
  </div>
  <div class="content">
    <Content />
  </div>
</Layout>

<style>
  .header {
    text-align: center;
  }

  .title {
    margin-bottom: 0;
  }

  .company {
    margin: 0;
    font-size: 2rem;
  }

  .tech-stack {
    margin-top: 3rem;
    font-size: var(--fs-subtle);
    font-family: var(--font-mono);
  }

  .tech-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
    list-style: none;

    & li {
      border-radius: 8px;
      padding: 0.125rem 0.5rem;
      background: rgb(var(--background-subtle));
    }
  }

  .screenshot {
    margin-top: 3rem;
    width: 100%;
    height: auto;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 3rem;

    & a {
      font-size: var(--fs-subtle);
      font-family: var(--font-mono);
    }
  }

  .content {
    margin-top: 3rem;
    font-size: var(--fs-content);
    line-height: 1.5;

    img {
      margin-top: 1rem;
      width: 100%;
      height: auto;
    }

    h2 {
      margin: 3rem 0 0;
    }

    h3 {
      margin: 2rem 0 0;
    }

    p {
      margin: 0.5rem 0 0;
    }
  }
</style>
